<!-- https://en.uesp.net/wiki/Oblivion:Dead_Drop_Orders_1 -->

<template id="Dead_Drop_Orders_2">
    <p>The Necromancer Celedaen is dead, and you are not. That is quite an accomplishment. But your work as a Slayer has just begun.</p>

    <p>Your next assignment requires you to eliminate not just one target, but five. An entire family, in fact. The unlucky siblings are Perennia Draconis, Matthias Draconis, Andreas Draconis, Sibylla Draconis and Caelia Draconis. The locations of most of the family members are unknown, so you should begin your search with the family matron, Perennia, who resides at the farm called Applewatch.</p>

    <p>You must discern the locations of all the Draconis family members and then systematically eliminate them. I suggest you first speak with the mother and find out if she has any valuable information on the whereabouts of her children, before ending her life.</p>

    <p>When every member of the Draconis family lies dead, journey to the city of Skingrad. In the castle courtyard you will find a well containing your reward for the Draconis contract, as well any further assignment I might have.</p>
</template>