<!-- https://en.uesp.net/wiki/Oblivion:Dead_Drop_Orders_1 -->

<template id="Dead_Drop_Orders_6">
    <p>Alval Uvani is dead, just like all the others. You continue to impress me, Silencer, and I am only too eager to indulge your homicidal instincts.</p>

    <p>Your next target is a savage Nord barbarian, living alone and exposed at a small campsite on the summit of Gnoll Mountain. This barbarian, Havilstein Hoar-Blood by name, savagely butchered the chieftain of a mead hall on the island of Solstheim. The chieftain's sister has forgone the Nord custom of extracting the monetary retribution of wergild, and instead wants Hoar-Blood to pay with his life. You, dear Silencer, will help put her family at peace.</p>

    <p>You are to go to Gnoll Mountain, locate Havilstein Hoar-Blood, and send his soul to Sithis.</p>

    <p>When Hoar-Blood has been executed, journey to the Ayleid ruin of Nornal. In the flooded section of that ruin you will find a chest, submerged in the water. As you may have guessed, the chest contains your reward for killing Havilstein Hoar-Blood, and your next contract.

    </p>
</template>