<!-- https://en.uesp.net/wiki/Oblivion:Dead_Drop_Orders_1 -->

<template id="Dead_Drop_Orders_8">
    <p>Ungolim is dead! Listener, you have served me far better than I ever could have imagined. Is there no challenge you can't meet? No opponent you can't best? We shall see.</p>

    <p>Your next target is a High Elf whore named Arquen. She has been difficult to locate, but you might try asking around the Grey Mare in Chorrol or the Bridge Inn in Cheydinhal.</p>

    <p>Like all of your targets, Arquen is a skilled fighter and will not be eliminated easily.</p>

    <p>When Arquen is dead, I will have your reward and next contract waiting at the next dead drop -- under one of the beds in the Leyawiin Coast Guard station.</p>
</template>