<!-- https://en.uesp.net/wiki/Oblivion:Dead_Drop_Orders_1 -->

<template id="Dead_Drop_Orders_7">
    <p>My compliments on another job well done! Havilstein Hoar-Blood was more swine than man, and deserved to die
        quivering like an animal! You must not stop! You must kill again!</p>

    <p>Your next target is a Wood Elf named Ungolim, who resides in the city of Bravil. Bravil is also home to an
        ancient statue known as the Lucky Old Lady. It is seen as a symbol of good luck and prosperity, and the fools of
        Bravil often speak to the statue and wish for good tidings. Every night, poor lovestruck Ungolim visits the Lady
        and pleads desperately for the heart of a young maiden. This maiden is married, and her husband has learned of
        Ungolim's affection for his bride. He fears the competition, it would seem, and has commissioned the Dark
        Brotherhood to help in the matter.</p>

    <p>You must go to Bravil, locate Ungolim, and kill him. The Wood Elf owns a house in the city, but he spends his
        days securely locked inside. I recommend you lie in wait at the Lucky Old Lady statue, and then eliminate
        Ungolim when he arrives for his nightly visit. He's generally there between the hours of 6:00 PM and 1:00 AM.
    </p>

    <p>By all accounts, Ungolim is a deadly archer and a fearless opponent. I also have reason to believe he is
        expecting trouble, so if Ungolim senses danger, he may attack you on sight. And, like the Khajiit J 'Ghasta, Ungolim has bribed the guards to look the other way if there is a fight, so they won't interfere. Be
        vigilant, and bring the Wood Elf down! You must not fail!</p>

    <p>
        When Ungolim's body lies broken at the foot of his dear Lady, you must journey to the city of Anvil. Your dead
        drop is in a barrel located behind the statue in the pond. As is standard, your reward and next contract will be
        waiting.
    </p>
</template>