<!-- https://en.uesp.net/wiki/Oblivion:Dead_Drop_Orders_1 -->

<template id="Dead_Drop_Orders_4">
    <p>J 'Ghasta is dead! Well done! I was right about you, Assassin. You are a useful tool indeed. Let's see if you can continue to impress me.</p>

    <p>You must journey now to the Flooded Mine. There you will find Shaleez, an Argonian hunter who was banished from her village near the Black Marsh/Morrowind border for the brutal murder of a Dark Elven family. Relatives of the murdered family members have located Shaleez, and demand retribution. And, since the assignment is a bit far for Morrowind's Morag Tong to handle, the Dark Brotherhood has been commissioned to perform the elimination.</p>

    <p>Be warned, Assassin! Shaleez is a skilled and deadly hunter, and will fight like the desperate fugitive she is.</p>

    <p>After Shaleez has been eliminated, your reward and another contract will be waiting at the dead drop located in a coffin, just outside the ruins of Fort Redman.</p>
</template>