<!-- https://en.uesp.net/wiki/Oblivion:Dead_Drop_Orders_1 -->

<template id="Dead_Drop_Orders_5">
    <p>If you're reading this note, Shaleez is dead. You've done the world a great service, Executioner. It's time to
        continue the good work.</p>

    <p>Your next target is a traveling Dark Elf merchant by the name of Alval Uvani, who is currently renting a house in
        the city of Leyawiin. Uvani is a well-respected tradesman back in his native Morrowind, but his business often
        takes him very far from home. Therein lies the problem. Alval Uvani's wife has become disillusioned with her
        husband's repeated, extended absences and wishes to dissolve their marriage, and has sought the Dark
        Brotherhood's assistance. Lucky for us Cyrodiil is a bit beyond the reach of Morrowind's Morag Tong.</p>

    <p>Alval Uvani is currently traveling around Cyrodiil, and is never in one place for more than a couple of days. In
        this dead drop you will also find a schedule detailing the Dark Elf's whereabouts; use it to locate him and plan
        your elimination. Be aware, however, that because he is forced to travel alone to the farthest reaches of the
        Empire, Uvani has learned to defend himself. He is a master of the Destruction school of Magicka, and and [sic]
        is no stranger to killing.</p>

    <p>When Alval Uvani lies rotting, journey to the Market District of the Imperial City. There you will find a shop
        called Stonewall Shields. Your dead drop is located behind that building, in a hollowed-out tree stump. As
        usual, you will find your reward for the previous contract, as well as information on your next.</p>

    <p>
        Ah yes, I must mention one last detail. Apparently Alval Uvani suffers from a rare Dark Elf condition, a serious
        allergy to honey. If you could somehow get Uvani to drink the honey-based spirit Mead, perhaps by replacing his
        food, he would suffer from complete paralyzation. This would certainly make the Dark Elf a bit easier to deal
        with.
    </p>
</template>