<template id="modal-book--recommendation_letter">
    <div class="modal recommendation_letter" tabindex="-1" role="dialog" aria-labelledby="modal-block-extra-large" aria-modal="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" style="height:100%;">
            <div class="block block-themed block-transparent mb-0">
              <div class="block-header bg-primary-dark">
                <h3 class="block-title">A Letter of reccomendation for the Mages Guild.</h3>
                <div class="block-options">
                  <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-fw fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="block-content block-content-full text-center">
                <h5 class="font-w600 text-combat-smoke">To Raminus Polus.</h5>
                <h5 class="font-w300 font-size-sm text-combat-smoke">
                    On behalf of Melvor's oldest academy of Magic & Runecrafting, we are recommending this student to your guild of Alt. Magic and Alchemy.

                    No, they are not a necromancer.

                    Please stop asking us about necromancers and summoning in general.

                    Kind regards,
                    Mikasi, Head of Magic & Cromperty, Head of Runecrafting
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
  </template>