<template id="modal-book--The_Black_Horse_Courier_Waterfront">
  <div class="modal The_Black_Horse_Courier_Waterfront" tabindex="-1" role="dialog" aria-labelledby="modal-block-extra-large" aria-modal="true" style="display: none;">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content" style="height:100%;">
	      <div class="block block-themed block-transparent mb-0">
	        <div class="block-header bg-primary-dark">
	          <h3 class="block-title">The Black Horse Courier</h3>
	          <div class="block-options">
	            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
	              <i class="fa fa-fw fa-times"></i>
	            </button>
	          </div>
	        </div>
	        <div class="block-content block-content-full text-center">
	          <h5 class="font-w600 text-combat-smoke">Waterfront Raid Fails!</h5>
	          <h5 class="font-w300 font-size-sm text-combat-smoke">
              Stymied in his attempts to capture the legendary thief, the Gray Fox, Captain Hieronymus Lex of the Imperial Watch raided the Waterfront. Extra Watchmen were pulled from duty in other parts of the city to search the slums of the Waterfront. A small amount of contraband was confiscated, but the Gray Fox escaped. The Arcane University has filed a formal complaint against Captain Hieronymus Lex for dereliction of duty. The guards normally posted at the Arcane University were sent to the Waterfront during the raid. An attempted break-in at the University was foiled. University spokesmen insist that nothing was taken. They scoffed at the idea that any mere thief could make off with one of their treasures.
	          </h5>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>