<template id="modal-book--The_Black_Horse_Courier_Waterfront">
  <div class="modal The_Black_Horse_Courier_Waterfront" tabindex="-1" role="dialog" aria-labelledby="modal-block-extra-large" aria-modal="true" style="display: none;">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content" style="height:100%;">
	      <div class="block block-themed block-transparent mb-0">
	        <div class="block-header bg-primary-dark">
	          <h3 class="block-title"><lang-string lang-id="The_Black_Horse_Courier"></lang-string></h3>
	          <div class="block-options">
	            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
	              <i class="fa fa-fw fa-times"></i>
	            </button>
	          </div>
	        </div>
	        <div class="block-content block-content-full text-center">
	          <h5 class="font-w600 text-combat-smoke"><lang-string lang-id="Waterfront_Raid_Fails"></lang-string></h5>
	          <h5 class="font-w300 font-size-sm text-combat-smoke">
				<lang-string lang-id="The_Black_Horse_Courier_Content"></lang-string>
	          </h5>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>