<!-- https://en.uesp.net/wiki/Oblivion:Dead_Drop_Orders_1 -->

<template id="Thieves_Orders">
    <p>{{getLangString('SHOP_NAME_Footpad_Rank')}} - {{getLangString('ITEM_NAME_JeweledCandlestick')}} - Leyawiin</p>
    <p>Bandit Rank - Jeweled Flagon - Kvatch</p>
    <p>Prowler Rank - Jeweled Goblet - Bruma</p>
    <p>Cat Burglar Rank - Golden Ship Model - Riften</p>
    <p>Shadowfoot Rank - Jeweled Pitcher - Chorrol</p>
    <p>Master Thief Rank - Golden Urn - Cheydinhal</p>
    <p>Gray Fox Rank - Gray Cowl of Nocturnal - ???</p>
</template>